

@font-face
    font-family: '40s'
    src: url('../fonts/HanyiQiHei/HYQiHei-40S.eot');
    src: url('../fonts/HanyiQiHei/HYQiHei-40S.eot') format('eot'),
    url('../fonts/HanyiQiHei/HYQiHei-40S.ttf') format('ttf'),
    url('../fonts/HanyiQiHei/HYQiHei-40S.svg') format('svg'),
    url('../fonts/HanyiQiHei/HYQiHei-40S.woff') format('woff')
@font-face
    font-family: '60s'
    src: url('../fonts/HanyiQiHei/HYQiHei-60S.eot') format('eot');
    src: url('../fonts/HanyiQiHei/HYQiHei-60S.ttf') format('ttf'),
    url('../fonts/HanyiQiHei/HYQiHei-60S.svg') format('svg'),
    url('../fonts/HanyiQiHei/HYQiHei-60S.woff') format('woff')
@font-face
    font-family: '80s'
    src: url('../fonts/HanyiQiHei/HYQiHei-80S.ttf') format('ttf'),
    url('../fonts/HanyiQiHei/HYQiHei-80S.eot') format('eot'),
    url('../fonts/HanyiQiHei/HYQiHei-80S.svg') format('svg'),
    url('../fonts/HanyiQiHei/HYQiHei-80S.woff') format('woff')

@font-face
    font-family: 'VWHeadWeb-Bold'
    src: url('../fonts/VW_Head/VWHeadWeb-Bold.eot');
    src: url('../fonts/VW_Head/VWHeadWeb-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/VW_Head/VWHeadWeb-Bold.svg') format('svg'),
    url('../fonts/VW_Head/VWHeadWeb-Bold.ttf') format('truetype'),
    url('../fonts/VW_Head/VWHeadWeb-Bold.woff') format('woff'),
    url('../fonts/VW_Head/VWHeadWeb-Bold.woff2') format('woff2')
    
@font-face
    font-family: 'VWHeadWeb-Light'
    src: url('../fonts/VW_Head/VWHeadWeb-Light.eot');
    src: url('../fonts/VW_Head/VWHeadWeb-Light.eot') format('embedded-opentype'),
    url('../fonts/VW_Head/VWHeadWeb-Light.svg') format('svg'),
    url('../fonts/VW_Head/VWHeadWeb-Light.ttf') format('ttf'),
    url('../fonts/VW_Head/VWHeadWeb-Light.woff') format('woff'),
    url('../fonts/VW_Head/VWHeadWeb-Light.woff2') format('woff2')
@font-face
    font-family: 'VWHeadWeb-Regular'
    src: url('../fonts/VW_Head/VWHeadWeb-Regular.eot');
    src: url('../fonts/VW_Head/VWHeadWeb-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/VW_Head/VWHeadWeb-Regular.svg') format('svg'),
    url('../fonts/VW_Head/VWHeadWeb-Regular.ttf') format('ttf'),
    url('../fonts/VW_Head/VWHeadWeb-Regular.woff') format('woff'),
    url('../fonts/VW_Head/VWHeadWeb-Regular.woff2') format('woff2')

@font-face
    font-family: 'VWHeadOffice-Bold'
    src: url('../fonts/VWHeadOffice/VWHeadOffice-Bold.ttf') format('ttf')
@font-face
    font-family: 'VWHeadOffice-Regular'
    src: url('../fonts/VWHeadOffice/VWHeadOffice-Regular.ttf') format('ttf')

@font-face
    font-family: 'VWTextWeb-Bold'
    src: url('../fonts/VW_Text/VWTextWeb-Bold.eot')
    src: url('../fonts/VW_Text/VWTextWeb-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/VW_Text/VWTextWeb-Bold.svg') format('svg'),
    url('../fonts/VW_Text/VWTextWeb-Bold.ttf') format('ttf'),
    url('../fonts/VW_Text/VWTextWeb-Bold.woff') format('woff'),
    url('../fonts/VW_Text/VWTextWeb-Bold.woff2') format('woff2')
@font-face
    font-family: 'VWTextWeb-Light'
    src: url('../fonts/VW_Text/VWTextWeb-Light.eot') format('eot'),
    url('../fonts/VW_Text/VWTextWeb-Light.svg') format('svg'),
    url('../fonts/VW_Text/VWTextWeb-Light.ttf') format('ttf'),
    url('../fonts/VW_Text/VWTextWeb-Light.woff') format('woff'),
    url('../fonts/VW_Text/VWTextWeb-Light.woff2') format('woff2')
@font-face
    font-family: 'VWTextWeb-Regular'
    src: url('../fonts/VW_Text/VWTextWeb-Regular.eot') format('eot'),
    url('../fonts/VW_Text/VWTextWeb-Regular.svg') format('svg'),
    url('../fonts/VW_Text/VWTextWeb-Regular.ttf') format('ttf'),
    url('../fonts/VW_Text/VWTextWeb-Regular.woff') format('woff'),
    url('../fonts/VW_Text/VWTextWeb-Regular.woff2') format('woff2')



*
    font-family: '40s'

.txt-40s
    font-family: '40s'
.txt-60s
    font-family: '60s'
.txt-80s
    font-family: '80s'
.VWHeadWeb-Bold
    font-family: 'VWHeadWeb-Bold'
.VWHeadWeb-Light
    font-family: 'VWHeadWeb-Light'
.VWHeadWeb-Regular
    font-family: 'VWHeadWeb-Regular'
.VWHeadOffice-Bold
    font-family: 'VWHeadOffice-Bold'
.VWHeadOffice-Regular
    font-family: 'VWHeadOffice-Regular'
.VWTextWeb-Bold
    font-family: 'VWTextWeb-Bold'
.VWTextWeb-Light
    font-family 'VWTextWeb-Light'
img
    width 100%